{{>petitionInfo}}
<canvas id="signature" width="600" height="100"></canvas>
<form name="signPetition" method="post">
    <input type="hidden" name="signature">
    <input type = "hidden" name="_csrf" value ="{{csrfToken}}"></input>
    <input id="submit" type="submit">

    </input>
</form>
