<canvas id="signature" width="600" height="100"></canvas>
<form name="signPetition" method="post">
    <input name="firstname" required><input name="surname" required>
    <!-- <input type="hidden" name="signature" required> -->

    <input id="submit" type="submit">

    </input>
</form>
