<div id = "input">
{{>petitionInfo}}
<h3>{{firstname}} {{lastname}}, please sign in the box below</h3>
<canvas id="signature" width="450" height="100"></canvas>
<form name="signPetition" method="post">
    <input type="hidden" name="signature">
    <input type = "hidden" name="_csrf" value ="{{csrfToken}}"></input>
    <button id="button" type="submit">Submit</button>

    </input>
</form>
</div>
