<div>
{{>petitionInfo}}
<h2>Now please just tell us a little more about yourself</h2>
<form name="profile" method="post">
    <input name="age">Age</input><br>
    <input name="city" value="{{profileInfo.city}}">City</input><br>
    <input name="homepage">Homepage</input><br>
    <input type = "hidden" name="_csrf" value ="{{csrfToken}}"></input>
    <button id="button" type="submit">Continue</button>

    </input>
</form>
</div>
