<div id="signed">
    {{>petitionInfo}}
    <img id="showSig" src={{canvasSig}}><br>
    <a href="/signatures"> See {{sigCount}} signatures of other ice cream lovers here</a><br>
    <a href="/profile/edit"> Edit your profile</a><br>
    <a href="/delete"> Want to delete your signature?</a><br>
    <a href="/logout"> Leaving us? Log out here</a><br>
</div>
<form name="signed" method="post">
    <input type = "hidden" name="_csrf" value ="{{csrfToken}}"></input>
</form>
