* {
    background-color: #EBF4FA;
    font-family: 'Hind', sans-serif;
}

fieldset {
    width:300px;
    height:300px;
    border-radius:5px;
}

#signature {
    border: solid 2px grey;
    margin-top:100px;
}

h1 {
    float:right;
}
div {
    width:800px;
    margin-left:200px;

}

#signed {
    display:flex;
    flex-direction:column;
    align-items:center;
}

img {
    float:right;
    max-height:300px;
    max-width:300px;
    margin-top:50px
}

h3 {
    display:inline-block;
    max-width:500px;
    text-align:center;
    margin-top:-50px;
}

h2 {
    color: #3f4245;
}

a  {
    cursor:pointer;
    margin-top:10px;

}


input {
    margin:10px;
    border-radius:5px;
    font-size:16px;
    color:grey;
}

button {
    background-color:grey;
    color:white;
    border:solid 1px black;
    cursor:pointer;
    border-radius:5px;
}

li {
    display:flex;
    flex-direction:column;
    align-items:center;
    list-style: none;
    padding:3px;
}

#showSig {
    margin-top:-10px;
    display:inline-block;
    border: solid 2px grey;
    background-color:white;
}
